#layerBackButton{
	display: none;
}

textarea{
	min-height: 120px;
}

.wrap{ 
	margin:0 auto 0 auto; 
	width:400px;
	padding: 10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px; 
}

.field{
	font-size: 0.750em;
	color: #666;
	text-align: justify;
}

.cell{
	margin: 10px 0;
}

.justify{
	text-align: justify !important;
}

.search_input{
	background: url('../images/search-dark.png') no-repeat 12px 11px #FFF !important;
	padding: 0 0 0 32px !important;
}

.search_input:focus{
	background: url('../images/search-white.png') no-repeat 12px 11px #FFF !important;
	padding: 0 0 0 32px !important;
}

.sub_title{
	color: #003399 !important;
}

.white_color{
	color: #FFF !important;
}

.black_color{
	color: #000 !important;
}

.cursor_pointer{
	cursor: pointer;
}